.test {
    width: 14%;
    margin-left:1315px;
    margin-top: 5px;
  }
/* Landing Page Styles */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/bg2.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color:#fff;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

.landing-form {
  width:340px;
  text-align:center;
  margin:0 auto;
}

/* Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-join{
  border: 0px;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Join Header Styles */

.join-title {
  color: #3b1814;
  display: inline-block;
}

.join-header {
  float: right;
  display: inline-block;
  margin-top: 27px;
  margin-left: 10px;
  margin-right: 10px;
  color: #3b1814;
  font-size: 15px;
}

/* Join Content Styles */

.main {
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top:20px;
  margin-right:10px;
}

.box {
  background-color: #fff;
  height: 60px;
  width: 45px;
  text-align: center;
  margin-left: 20px;
}

.box:hover{
  background-color: #fff;
}

.nav-icon {
  margin-top: 10px;
  font-size: 20px;
}

.content-info {
  margin-left: 110px;
}

.details {
  font-size:10px;
  margin-top: 20px;
  margin-left: 12px;
  color: #3b1814;
}

.title {
  font-size:20px;
}

/* Misc Styles*/

html,body{
  	height:100%;
}

body{
  	padding-top:0px; /*padding for navbar*/
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#wrapper-map {
  position:relative;
}

.map-container-host{
  	width:100%;
      height:calc(100% - 0);
      position:absolute;
      right:0px;
      top:0px;
      bottom:0;
      overflow:hidden;

}
