/* Map Styles */

.navbar-map {
    width: 14%;
    margin-left:1315px;
    margin-top: 5px;
    background: transparent;
    border-bottom: 0px;


  }
.hide-menu {
  visibility: visible;

}
.dropdown-map{
  display:inline-block;
}

#profile-interface{
  visibility: hidden;
}

#match-listings{
  visibility: hidden;
}


/* Match Listing Styles */

.match-details {
  margin-right: 15px;
  font-size: 10px;

}

.match-listing {
  margin-top: -15px;
  margin-bottom: -15px;

}
.match-avatar {
  margin-bottom: -10px;

}

.matches {
  width:500px;
}



.match-enlarge {
  margin-right:20px;
}


/* Match Details Styles */

#match-details {
  visibility: hidden;
}
.match-details-heading {
  margin-left: 10px;
}


/* Landing Page Styles */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/bg2.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color:#fff;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

.landing-form {
  width:340px;
  text-align:center;
  margin:0 auto;
}

/* Button Styles */

.btn-dark {
    border-radius: 0;
    border: 0px;
    color: #000;

}

.btn-join{
  border: 0px;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #0f2426;
    background-color: #eff2fa;
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}


/* Misc Styles*/

html,body{
  	height:100%;
}

body{
  	padding-top:0px; /*padding for navbar*/
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#wrapper-map {
  position:relative;
}

.map-container-host{
  	width:100%;
      height:calc(100% - 0);
      position:absolute;
      right:0px;
      top:0px;
      bottom:0;
      overflow:hidden;
}

#sidebar-extensions-map{
  margin-left:605px;
  height: 100%;
  width:60.5%;
  z-index: 1000;
  position:absolute;
  visibility:hidden;
  opacity: 0;
  background: #fff;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}
