<template name="home">
  <div class="navbar navbar-custom navbar-fixed-top">
   <div class="navbar-header"><a class="navbar-brand" href="#">Play Tennis Victoria</a>
     <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </a>
   </div>
    <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li>&nbsp;</li>
    </ul>
    </div>
  </div>

  <div class="map-container"></div>
  <div class="container-fluid" id="main">
    <div class="row">
      <div class="col-xs-8" id="left">
        <br/>

        <div class="dropdown">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Host a Match</button>
        <ul class="dropdown-menu" role="menu">
          <li>
          <form class="form" id="formLogin">

                <input class="form-control" name="title" id="title" type="text" placeholder="Title"/>

                <select class="form-control"  id="court">
                  {{#each courts}}
                    <option> {{Name}} </option>
                  {{/each}}
                </select>
                <input type="submit" value="Submit" class="btn btn-primary"/>
          </form>
          </li>

        </ul>
      </div>

        {{#each posts}}
        <div class="panel panel-default h" id="{{_id}}">
          <div class="panel-heading"><a href=""> {{title}}</a><span class="glyphicon glyphicon-play pull-right"></span></div>
        </div>
        {{/each}}
    </div>
  </div>
</div>
  <div class="map-container">
    {{> googleMap name="exampleMap" options=exampleMapOptions}}
  </div>
</template>
