<template name="join">
  {{#if currentUser}}
  <div id="wrapper">
    {{>navbar}}
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
        <h1 class="join-title"> play tennis victoria </h1>

        <div class="dropdown join-header">
          <button class="btn btn-default dropdown-toggle btn-join" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            <span class=" glyphicon glyphicon-user"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Profile</a></li>
            <li role="presentation"><a role="menuitem" class = "logout" tabindex="-1" href="#">Logout</a></li>
          </ul>
        </div>

        <div class="dropdown join-header">
          <button class="btn btn-default dropdown-toggle btn-join" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            <span class="glyphicon glyphicon-th-list"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>

          </ul>
        </div>

        <div class="dropdown join-header">
          <button class="btn btn-default dropdown-toggle btn-join" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            <span class="glyphicon glyphicon-search"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>

          </ul>
        </div>

        <div class="dropdown join-header">
          <button class="btn btn-default dropdown-toggle btn-join" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            <a href="{{urlFor route='host'}}"><span class="glyphicon glyphicon-plus"> </span></a>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
          </ul>
        </div>


      </div>
        <hr class="divider">
        <div class="row">
        {{#each posts}}
          <div class="main row" id="{{_id}}">
            <div class="col-xs-1">
              <a class="btn btn-default box"> <span class="j glyphicon glyphicon-ok"></span></a>
            </div>
            <div class="col-xs-11 title">
              {{title}}
           </div>
           <p class="content-info">
              <span class=" details glyphicon glyphicon-tag"></span> {{type}}
              <span class=" details glyphicon glyphicon-globe"> </span> {{court}}
              <span class="details glyphicon glyphicon-time"></span>  {{time}}
           </p>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  </div>
  {{else}}
    {{>landing}}
  {{/if}}
</template>
