<template name = "matches">
  <div class="testing ">
  <hr>
  <div class="container matches" id="{{_id}}">
    <div class="row">
      {{#if matchOn}}
      <div class="col-sm-4 avatar-listing">
        <img src="/img/default.jpg" class="avatar  match-post img-circle img-thumbnail match-avatar"  alt="avatar">
      </div>
      <div class="col-sm-6">
        <h3> {{author}} </h3>
        <h5> <strong>  Name: </strong> {{user.profile.firstName}} {{user.profile.lastName}} </h5>
        <h5> <strong>  Gender: </strong> {{user.profile.gender}} </h5>
        <h5> <strong> Skill: </strong> {{user.profile.skill}} </h5>
      </div>
      <div class="col-sm-1">
        <button type="button" class="btn btn-default match-enlarge">
            <span class="glyphicon glyphicon-resize-full"> </span>
        </button>

      </div>
      {{else}}
      <div class="col-sm-2 avatar-listing">
        <img src="/img/default.jpg" class="avatar  match-post img-circle img-thumbnail match-avatar"  alt="avatar">
      </div>

      <div class="col-sm-8 match-listing">
        <h4> {{title}} </h4>
        <p>
          <span class="glyphicon glyphicon-user match-details"> {{author}} </span>
          <span class="glyphicon glyphicon-globe match-details"> {{court}} </span>
          <span class ="glyphicon glyphicon-time match-details"> {{time}}</span>
        </p>
      </div>
      <div class="col-sm-1">
        <button type="button" class="btn btn-default match-enlarge">
            <span class="glyphicon glyphicon-resize-full"> </span>
        </button>

      </div>
      {{/if}}
   </div>

  </div>
  <hr>
</div>

{{#if matchOn}}

    <h3 class="text-center">Match @ {{court}}<br></h3>
  <h3 class="text-center"><small> This match is scheduled at <strong> {{time}} </strong>, approximately <strong> 20km </strong> from your location. The author <strong> {{author}} </strong>
  would like to play a <strong> type </strong> match. </small> </h3>
  <h3 class="text-center"><button type='button' class="btn btn-default btn-block"> <h4> Play Match </h4> </button></h3>
  <hr>
{{/if}}

</template>
