<template name="navbar">


<!-- Main Sidebar Menu -->

<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a href="{{urlFor route='host'}}"><span class="glyphicon glyphicon-home"></span></a>
    </li>
    <li class="profile-list">
      <a href="#"> <i class="nav-icon glyphicon glyphicon-user"> </i> </a>
    </li>
    <li class="map-list">
      <a href="#"> <i class="nav-icon glyphicon glyphicon-th-list"> </i> </a>
    </li>
  </ul>
</div>

<!-- Map Menu -->

  <nav class="navbar navbar-default navbar-fixed-top navbar-map" role="navigation">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <div class="dropdown dropdown-map">
            <button class="btn btn-default dropdown-toggle hide-menu" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              <span class=" glyphicon glyphicon-log-out"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" class = "logout" tabindex="-1" href="#">Logout</a></li>
            </ul>
          </div>
            <button class="btn btn-default dropdown-toggle gps hide-menu" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              <span class=" glyphicon glyphicon-screenshot"></span>
            </button>
            <div class="dropdown dropdown-map">
            <button class="btn btn-default dropdown-toggle hide-menu" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              <span class=" glyphicon glyphicon-plus"></span>
            </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                <li role="presentation"><a role="menuitem" class = "logout" tabindex="-1" href="#">Action</a></li>
              </ul>
            </div>
        </ul>
      </div>
    </div>
  </nav>

</template>
